<!-- NOT READY IF THIS COMMENT IS HERE -->
<header>

  <body>
    <nav>
      <span>
        <img
          src="https://www.freelogodesign.org/file/app/client/thumb/c2043bd9-a45d-424d-b237-9711e61da44b_1000x600-watermark.png?20200627"
          alt="coffe-map logo" style="width:150px;height:100px;">
      </span>
      <div>

        <% if (true) { %>
        <form class="form-inline" method="POST" action="/">
          <div style="width: 200px; left:100px; position:relative">
            <button type="submit" class="btn btn-secondary">Logout</button>

            <% } else { %>

            <form method='POST' action='/login/1'>
              <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-secondary">Login</button>
              <button type="submit" class="btn btn-secondary">Register</button>
          </div>
        </form>
        <% } %>
      </div>

    </nav>

  </body>

</header>