<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- Google API -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgWy-5xKYkf18x0p12lXPxVCtX2KYKWRY">
  </script>
  <!-- Internal JS -->
  <script type="text/javascript" src="/scripts/maps.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- External JS -->
  <script src="https://kit.fontawesome.com/f316481a98.js" crossorigin="anonymous"></script>

  <title><em>Brew Maps</em></title>
</head>

<main>
  <%- include('partials/_header') %>

  <body>

    <h1>Brew Maps</h1>
    <h2>Check out some new maps!</h2>
    <form class="form2">
      <input type="text" class="form-control-2" placeholder="Enter Your Location">
      <div class="button-holder">
        <button type="submit" class="find-map">Find maps!</button>
    </form>
    <form method="GET" action="/create">
      <button class="create-map" type="submit" class="btn btn-secondary">Create</button>
    </form>
    </div>


    <% maps.forEach((map) => { %>
    <h2><%= map.title %></h2>
    <div class="maps" id="map-<%=map.id%>" data-id="<%= map.id%>" style="width:400px; height:250px;"></div>
    <% }) %>

  </body>
</main>

</html>