<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
     <!-- Bootstrap CSS
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
     <!-- CSS -->
     <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
     <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
     <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
     <script type="text/javascript" src="/scripts/app.js"></script>
     <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  
  <title>Brew Maps</title>
  </head>
  <body>

    <nav>
      <span> Brew Maps </span>
      <div>
        <form action='login' method='POST'>
          <textarea name='text'></textarea>
          <textarea name='text'></textarea>
          <button type='submit'>Login</button>
        </form>
      </div>

    </nav>

  </body>
<main>
  <body>
    <h1>Brew Maps</h1>
    <h2>Independent Maps, User Created</h2>
    <form type="text">Test form thing</form>
  </body>
</main>
</html>
