// See: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
$nanum-gothic: 'Nanum Gothic', serif;


$font-stack: Helvetica, sans-serif;
$primary-color:  #EEE;
$secondary-color: #42524a;

<<<<<<< HEAD
// body {
//   width: 75%;
//   display: flex;
//   margin: auto;
// }
#create-form{
  width: 500px;
    height: 300px;
    top: 20%;
    position: absolute;
    background: url(https://i.pinimg.com/564x/6c/e2/1f/6ce21f66a82aa9210468eeba85d45391.jpg);
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-map-title {
  font-size: xxx-large;
    font-size: xxx-large;
    color: cornsilk;
    font-family: initial;
=======
body {
  width: 75%;
  display: flex;
  margin: auto;
>>>>>>> f5654c1cc2360e6d7414aa7f690894ca39585ac5
}

#map-title {
  height: 35px;
  width: 300px;
}
h1 {
  display: flex;
  justify-content: center;
  color: #cc9065;
  font-family: -webkit-body;
  font-size: 4em;
  margin-top: 6rem;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-family: $nanum-gothic;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: $primary-color;
<<<<<<< HEAD
  position: fixed;
  left: 0;
  height: 5em;
=======
  position: absolute;
  left: 0;
>>>>>>> f5654c1cc2360e6d7414aa7f690894ca39585ac5
}
.logo {
  width: 12em;
  height: 7em
}

span {
  display: flex;
  justify-content: space-between;
}

main {
<<<<<<< HEAD
  // margin-top: 5em;
  // margin:auto;
  display: flex;
  flex-direction: column;
  align-content: center;
=======
  margin-top: 5em;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 7em
>>>>>>> f5654c1cc2360e6d7414aa7f690894ca39585ac5
}

.map-layout {

}

.header-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  // margin-left: 100%;

}

form {
  display: flex;
  justify-content: space-evenly;
}

.form2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 1em;

}

.form-group {
  margin: 0 3rem;
}

.form-control {
  border: 2px solid #495057;

}

.form-control-2 {
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #495057;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.btn-secondary {
  display: flex;
  justify-content: space-evenly;
  // width: 25%;
  // height: calc(1.5em + .75rem + 2px);
  border-radius: 20px;
  font-weight: bolder;
  margin: 0 0.5rem;
  font-size: 10px;
}


.find-map {
  background-color: grey;
  border-radius: 1em;
  border:none;
  width: 9em;
  color: $primary-color;
  font-family: $nanum-gothic;
  margin: auto;
  margin-top: .5em;
<<<<<<< HEAD
}

.create-map {
  background-color:#cc9065;
  border-radius: 1em;
  border:none;
  width: 9em;
  color: $primary-color;
  font-family: $nanum-gothic;
  margin: auto;
  margin-top: .5em;
}

.button-holder
 {
   display: flex;
   margin-top: 10px;
 }


.edit-button {
  background-color:#cc9065;
  border-radius: 1em;
  border:none;
  width: 6em;
  color: $primary-color;
  font-family: $nanum-gothic;
  margin: auto;
  margin-top: .5em;
}
.delete-button {
  background-color:#cc9065;
  border-radius: 1em;
  border:none;
  width: 6em;
  color: $primary-color;
  font-family: $nanum-gothic;
  margin: auto;
  margin-top: .5em;
}
// .edit-delete {
//   display: flex;
//     justify-content: space-around;
// }
.form-group2 {
  width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #EEE;
=======
>>>>>>> f5654c1cc2360e6d7414aa7f690894ca39585ac5
}
